# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example
!**/.env.example

# Node
node_modules/
dist/
.next/
out/
coverage/
*.tsbuildinfo

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Prisma
backend/generated/
